/* Общие стили для страницы */
body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
}

    /* Стили для раздела "Путешествия по Вологодской области" */
    #home {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('css/img/1.jpg');
        background-size: cover;
        background-position: center;
        text-align: center;
        color: #fff;
    }

    #home h1 {
        font-size: 36px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
/* Стили для модального окна */
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    text-align: center;
}

#closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

#modal h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#paymentForm input[type="text"],
#paymentForm input[type="email"],
#paymentForm input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#paymentForm button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

#paymentForm button:hover {
    background-color: #45a049;
}



/* Стили для кнопки закрытия модального окна */
.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}

/* Стили для раздела "О нас" */
#about {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8; /* Добавим фоновый цвет для выделения раздела */
}

#about h2 {
    font-size: 28px;
    color: #333; /* Увеличим размер шрифта и сделаем текст более читаемым */
    margin-bottom: 10px; /* Добавим небольшой отступ снизу */
}

#about p {
    font-size: 18px;
    color: #555; /* Увеличим размер шрифта и сделаем текст более читаемым */
    margin-bottom: 20px; /* Увеличим отступ снизу для лучшей читаемости */
}

/* Стили для фотографий */
.destination.horizontal {
    display: inline-block;
    vertical-align: top; /* Горизонтальное выравнивание сверху */
    margin: 0 20px; /* Небольшие отступы между фотографиями */
    padding: 10px;
    border: 1px solid #ccc;
    transition: transform 0.3s;
    background-color: #fff;
    width: 500px; /* Задаем фиксированную ширину */
    height: 400px; /* Задаем фиксированную высоту */
}

.destination.horizontal img {
    max-width: 100%;
    max-height: 100%; /* Максимальная высота для сохранения соотношения сторон */
    width: 100%; /* Заполняем доступное пространство по ширине */
    height: 100%; /* Заполняем доступное пространство по высоте */
    border: 3px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

/* Установите фиксированную ширину для каждой фотографии */
.destination img {
    width: 300px; /* Пример ширины. Измените на ваш выбор. */
    margin: 0 10px; /* Добавьте горизонтальные отступы между фотографиями */
}




/* Стили для фото в разделе с местами */
section img {
    max-width: 100%;
    height: auto;
    border: 3px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

section img:hover {
    transform: scale(1.05);
}

/* Стили для навигационного меню */
header {
    background-color: #ac0202;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Общие стили для разделов "Места" */
.places-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.places-section img {
    max-width: 100%;
    height: auto;
    border: 3px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.places-section img:hover {
    transform: scale(1.05);
}

.places-section-content {
    flex: 1;
    padding: 0 20px;
    text-align: center;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
    color: #000;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Стили для раздела контактов */
#contact {
    background-color: #071ea0ab;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#contact a {
    color: #fff;
}

/* Улучшенные стили для раздела "Отзывы" */
#reviews {
    background-color: #f7f7f7;
    padding: 40px 0;
    text-align: center;
}

#reviews .section-title {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.review {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s;
}

.review:hover {
    transform: translateY(-5px);
}

.review h3 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
}

.review p {
    font-size: 18px;
    color: #666;
    line-height: 1.4;
}

#add-review-button {
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-review-button:hover {
    background-color: #000000;
}

/* Стили для подвала */
footer {
    background-color: #5500f1;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
    #home {
        height: 300px;
        padding: 20px; /* Добавим внутренние отступы для улучшенного отображения на мобильных устройствах */
    }

    #home h1 {
        font-size: 28px;
        margin: 0;
        padding: 20px;
    }

    #about h2 {
        font-size: 24px;
        padding: 10px;
    }

    #about p {
        font-size: 16px;
        padding: 10px;
    }

    section img {
        max-width: 100%;
    }
    
    #destinations h2 {
        font-size: 24px; /* Уменьшим размер шрифта заголовка "Места" */
    }

    .destination {
        padding: 10px; /* Добавим внутренние отступы для улучшенного отображения на мобильных устройствах */
    }

    .destination h3 {
        font-size: 20px; /* Уменьшим размер шрифта заголовков интересных мест */
        margin-bottom: 10px;
    }

    .destination p {
        font-size: 16px; /* Уменьшим размер шрифта текста для лучшей читаемости на мобильных устройствах */
        margin-bottom: 10px; /* Добавим внутренние отступы снизу для улучшей читаемости */
    }
}
